<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeUCsm4V4C8l6PpJ8yethaHCX28iia54E</string>
	<key>GCM_SENDER_ID</key>
	<string>179443509925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drcode.ksb</string>
	<key>PROJECT_ID</key>
	<string>ksbauth-53610</string>
	<key>STORAGE_BUCKET</key>
	<string>ksbauth-53610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179443509925:ios:7adf1d3921f24092c0fb4c</string>
</dict>
</plist>